/* POLICE DE RESERVIA */
@font-face
{
    font-family: 'Raleway-BlackItalic';
    src: url('static/Raleway-BlackItalic.ttf') format('truetype');
}

@font-face
{
    font-family: 'Raleway';
    src: url('static/Raleway-Regular.ttf') format('truetype');
}

h1, h2,h3,h4,h5,h6, p, a {
    font-family: 'Raleway';
}

h1
{
    font-family: 'Raleway-BlackItalic';
    font-size: 30px;
}

/* valeurs du bloc de la page */
#blocpage
{
    margin: auto;
    max-width: 1240px;
}


/* Header */
.containerheader
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headernav
{
    display: flex;
    margin-right: 0%;
}

nav ul
{
    list-style-type: none;
    display: flex;
    padding: 0%;
}

nav li
{
    margin-right: 20px;
}

a li
{
	border-top: transparent;
	padding: 30px;

}
a li:hover
{
	color:#0065FC;
	border-top: solid;
	border-color:#0065FC;
}

a
{
	text-decoration:none;
	color: black;
}
.inscrire
{
    font-weight: bold;
    color: #0065FC;
    margin-right: 0%;
    margin-left: 10px;
}

.search
{
    display: inline-flex;
    margin-top: 15px;
    align-items: center;
}

button {
    background-color: #0065FC;
    border: none;
    color: white;
    padding: 5px 15px;
    border-radius: 15px;
}
.iconemap
{
    margin-right: 10px;
    font-size: 25px;
}

input
{
    padding: 5px;
    margin-right: 15px;
    border-radius: 5px;
}  
.filtres
{
    display: flex;
}
.info
{
    display: flex;
}